div.main-container {
    text-align: center;
    border: 2px solid black;
    border-radius: 18px;
    padding: 0 20px;
    width: 200px;
    height: 200px;
}
li {
    list-style-type: none;
}
p.price {
    background-color: yellow;
}
.oldPrice {
    text-decoration: line-through;
}
.currentPrice {
    font-weight: 900;
}