@media only screen and (max-width: 600px) {
    .main {
        flex-direction: column;
        width: 200px;
    }
    .text {
        order: 2;
    }
    .img {
        width: 400px;
    }
    .ecommerce {
        padding-bottom: 20px;
    }
  }